{% extends "base.html" %}

{% block content %}
<div class="container view-submission-container">
    <h2 style="text-align: center;margin-bottom: 25px;">Assignment Submission</h2>
    <div class="card mb-4">
        <div class="card-body">
            <h3 style="text-align: center; font-size: 2em; color: black;">{{ assignment.title }}</h3>
            <h4>Questions:</h4>
            {% for question in assignment.questions.split('Q')[1:] %}
                <div class="question-block mb-2">
                    <p class="card-text"><strong>Q{{ question.strip() }}</strong></p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-4">
        <h3 >{{ student_username }}'s Submission:</h3>
        <div class="card mb-3">
            <div class="card-body">
                {% for answer in submission.answer.split('Q')[1:] %}
                    <div class="answer-block mb-2">
                        <p class="card-text"><strong>Q{{ answer.strip() }}</strong></p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="alert alert-info">
            <table class="grading-table">
                {% for question in submission.grade.split('\n\n') %}
                    {% if question.startswith('Q') %}
                        <tr>
                            <td class="label">{{ question.split(':')[0] }}:</td>
                            <td>Marks allotted: {{ question.split('Marks allotted:')[1].split('Explanation:')[0] }}</td>
                        </tr>
                        <tr>
                            <td class="label">Explanation:</td>
                            <td>{{ question.split('Explanation:')[1] }}</td>
                        </tr>
                    {% elif question.startswith('Total') %}
                        <tr>
                            <td class="label">Total Marks:</td>
                            <td>{{ question.split('Total Marks:')[1] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        <small class="text-muted">Submitted on: {{ submission.date_submitted.strftime('%Y-%m-%d %H:%M:%S') }}</small>
    </div>
</div>

<style>
.grading-table {
    width: 100%;
}
.grading-table td.label {
    width: 120px;
    vertical-align: top;
    font-weight: bold;
}
.grading-table td {
    padding: 5px;
}

.question-block, .answer-block {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.question-block:last-child, .answer-block:last-child {
    border-bottom: none;
}
.view-submission-container{
    font-family: "Atkinson Hyperlegible Mono", serif !important;
        font-optical-sizing: auto;
        font-weight: large;
        font-style: normal;
    background-color: #c0dcf1;
    padding: 2.5%;
    border-radius: 1%;
}
h3{
    border-bottom: none !important;
    /* color: #f9f8fa; */
    /* font-family: Poppins; */
}
</style>
{% endblock %}
